@tailwind base;
@tailwind components;
@tailwind utilities;
*{
        font-family: "IBM Plex Sans", sans-serif;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}
body {
        font-size: 14px;
}

/* Hide scrollbar for horizontal scroll containers */
.scrollbar-hide::-webkit-scrollbar { display: none; }
.scrollbar-hide { -ms-overflow-style: none; scrollbar-width: none; }
